{% extends 'base.html' %}

{% block head %}
<title>Causal Discovery</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link href = "https://use.fontawesome.com/releases/v5.7.2/css/all.css">
{% endblock %}

{% block body %}
  <br><br>
  <h1 style="text-align: center; color: aliceblue;">Causal Discovery Graph Generator</h1>
  <div class="container">
    <div class="row d-flex justify-content-center text-center mt-5">
       <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card py-3 px-2">
            <div class = "upload">
              <h5>Upload your own dataset below:</h5>
              </br>
              <form action = "http://localhost:5000/uploader" method = "POST" 
              enctype = "multipart/form-data">
              <input type = "file" name = "file" />
              <input type = "submit"/>
            </form> 
            <br><br>  
            </div>
             <form class="myform" method="POST" action="/run_script">
                <div class="form-group">
                  <label for="datasets" style = "font-weight: bold;">Or choose an existing dataset:</label>
                  <select name="datasets" id="datasets">
                    <option value="adult">Adult</option>
                    <option value="boston">Boston</option>
                    <option value="census">Dutch Census</option>
                    <option value="compas">Compas</option>
                    <option value="cards">Credit Cards</option>
                    <option value="crimes">Crime rates</option>
                    <option value="fico">FICO</option>
                    <option value="lalonde">La Londe</option>
                    <option value="lawschool">Law School</option>
                    <option value="police">Police Arrest</option>
                  </select>
                  <br><br>
                  <br>
                  <label for="algorithm" style = "font-weight: bold;">Now, choose the algorithm:</label>
                  <select name="algorithm" id="algorithm">
                    <option value="pc_gcastle">PC Gcastle</option>
                    <option value="pc_causal">PC CausalLearn</option>
                    <option value="ges_gcastle">GES Gcastle</option>
                    <option value="ges_causal">GES CausalLearn</option>
                  </select>
                  <br><br>
                  <br>
                </div>
                <div class="form-group mt-3">
                   <input type="submit" class="btn btn-block btn-primary btn-lg" value="Generate">
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>   
  {% if session.name %}
        <div class = "connection">
          You are registered {{ session.name }} <a href="/logout">logout</a>.
        </div>
      {% else %}
        You are not registered. <a href="/login">login</a>.
  {% endif %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}

